Repository daconrilcy/horoscope, changes with the owners that .github/CODEOWNERS names for each.
All owners: @C&C/docs-owners, @C&C/sre-owners, @C&C/ci-owners, @C&C/security-owners

.github/CODEOWNERS:

# .github/CODEOWNERS

# Documentation / Process
backend/docs/*        @C&C/docs-owners
docs/RAPPORT_*        @C&C/docs-owners
README.md             @C&C/docs-owners

# SLOs / Observabilité
slo.yaml              @C&C/sre-owners
scripts/slo_*         @C&C/sre-owners
.github/workflows/slo_* @C&C/sre-owners

# CI / Workflows
.github/workflows/*   @C&C/ci-owners

# Sécurité / RGPD / Tenancy
backend/domain/tenancy.py @C&C/security-owners
scripts/purge_tenant.py   @C&C/security-owners

[PH4.1-01] RetrievalProxy: dual-write & shadow-read (feature flags, metrics). Closes #1
  backend/app/metrics.py
  backend/config/flags.py
  backend/services/retrieval_proxy.py
  backend/services/retrieval_target.py
  docs/ENV-SETTINGS.md
  tests/test_retrieval_shadow_and_dualwrite.py
Owners: none

[PH4.1-01] Hardening: bounded shadow-read executor, sampling + allowlist, timeout + latency, histograms, drop counters; dual-write circuit breaker + outbox; docs env updates
  backend/app/metrics.py
  backend/config/flags.py
  backend/services/retrieval_proxy.py
  backend/services/retrieval_target.py
  docs/phase4_1_agent_instructions.mds
  docs/phase4_1_agent_operations.mds
  docs/phase4_1_agent_pr_implementation.mds
  docs/phase4_1_description.md
  docs/phase4_1_issues.csv
  docs/phase4_1_pr_templates/PH4.1-01_retrievalproxy-int-grer-dual-write-shadow-read-feature-flags.md
  docs/phase4_1_pr_templates/PH4.1-02_cutover-gates-agreement-5-ndcg-10-48h-journal.md
  docs/phase4_1_pr_templates/PH4.1-03_rollback-drill-bascule-vecteur.md
  docs/phase4_1_pr_templates/PH4.1-04_llm-guard-enforcement-tests-d-attaque-m-triques.md
  docs/phase4_1_pr_templates/PH4.1-05_deploy-strategy-canary-blue-green-script-e-abort-sur-burn-rate.md
  docs/phase4_1_pr_templates/PH4.1-06_slos-chiffr-s-par-endpoint-dashboards-policy-burn-rate.md
  docs/phase4_1_pr_templates/PH4.1-07_bench-multi-tenant-noisy-neighbor-warm-cold-rapport.md
  docs/phase4_1_pr_templates/PH4.1-08_api-gateway-enveloppe-d-erreur-standard-idempotency-keys.md
  docs/phase4_1_pr_templates/PH4.1-09_api-gateway-quotas-rate-limit-par-tenant-429-retry-after.md
  docs/phase4_1_pr_templates/PH4.1-10_api-versioning-v1-deprecation-policy.md
  docs/phase4_1_pr_templates/PH4.1-11_metrics-par-endpoint-prom-traces-corr-l-es.md
  docs/phase4_1_pr_templates/PH4.1-12_timeouts-backoff-au-gateway-retry-budget.md
  docs/phase4_1_pr_templates/PH4.1-13_idempotency-ack-apr-s-commit-api-workers.md
  docs/phase4_1_pr_templates/PH4.1-14_fair-scheduling-concurrency-par-tenant-celery.md
  docs/phase4_1_pr_templates/PH4.1-15_pii-masking-logging-traces-ttl-r-tentions.md
  docs/phase4_1_pr_templates/PH4.1-16_catalogue-pii-dpia-mise-jour.md
  docs/phase4_1_pr_templates/PH4.1-17_vector-store-dr-backup-restore-test-rpo-rto.md
  docs/phase4_1_pr_templates/PH4.1-18_poison-queue-quarantine-replay-runbook.md
  docs/phase4_1_pr_templates/PH4.1-19_automatiser-github-workflows-embeddings-yml.md
  docs/phase4_1_pr_templates/PH4.1-20_evidence-pack-coverage-json-slo-report-bench-snapshots.md
  docs/phase4_1_pr_templates/phase4_1_agent_pr_implementation.mds
  docs/phase4_review.md
  docs/phase4_taskpack_issues_9_18.mds
  docs/phase4_top_risks.csv
  docs/phase4_v4_mvp_plus_assessment.md
  tests/test_retrieval_shadow_and_dualwrite.py
Owners: none

[PH4.1-01] Add agreement@k/nDCG@10 edge tests, expose metrics histograms; add outbox metrics and replay CLI; adjust nDCG to be order-sensitive; docs ENV flags already updated
  backend/app/metrics.py
  backend/services/retrieval_proxy.py
  backend/services/retrieval_target.py
  scripts/replay_outbox.py
  tests/test_retrieval_metrics_edges.py
Owners: none

[PH4.1-01] Ops nits: latency buckets, executor shutdown hook, invalid target backend error + test, outbox TTL + metrics; add docs/retrieval_migration.md runbook
  backend/app/metrics.py
  backend/config/flags.py
  backend/services/retrieval_proxy.py
  backend/services/retrieval_target.py
  docs/retrieval_migration.md
  tests/test_retrieval_target_config.py
Owners: none

fix(ruff): D401 imperative docstring for write_to_target
  backend/services/retrieval_target.py
Owners: none

test: add coverage for flags + dual-write outbox/circuit breaker; reach >=90% backend coverage
  tests/test_flags.py
  tests/test_retrieval_target_outbox_cb.py
Owners: none

docs: add detailed progressive activation plan, PromQL examples, and alerting rules to retrieval_migration runbook
  docs/retrieval_migration.md
Owners: none

[PH4.1-02] Cutover gates: add metrics helpers + CLI; unit tests; docs untouched; link to issue #43 in PR body planned
  backend/app/middleware_rate_limit.py
  backend/services/metrics_cutover.py
  scripts/cutover_metrics.py
  tests/test_cutover_metrics.py
Owners: none

[PH4.1-02] Add sample truth-set, generator CLI, usage doc, and hourly cutover workflow
  .github/workflows/cutover_hourly.yml
  docs/cutover_usage.md
  docs/examples/truthset.sample.json
  scripts/make_truthset_sample.py
Owners: @C&C/ci-owners

style(ruff): wrap docstrings to satisfy formatter in metrics_cutover.py
  backend/services/metrics_cutover.py
Owners: none

[PH4.1-02] Cutover gates: agreement@5 & nDCG@10 + 48h journal (#63)
  .github/workflows/cutover_hourly.yml
  backend/app/middleware_rate_limit.py
  backend/services/metrics_cutover.py
  docs/cutover_usage.md
  docs/examples/truthset.sample.json
  scripts/cutover_metrics.py
  scripts/make_truthset_sample.py
  tests/test_cutover_metrics.py
Owners: @C&C/ci-owners

[PH4.1-03] Rollback drill: runbook + rollback_retrieval.py (dry-run/apply journaling) + tests
  backend/config/flags.py
  backend/services/retrieval_proxy.py
  backend/services/retrieval_target.py
  runbooks/rollback_retrieval.md
  scripts/rollback_retrieval.py
  tests/test_rollback_drill.py
Owners: none

[PH4.1-03] Rollback drill bascule vecteur (#64)
  backend/config/flags.py
  backend/services/retrieval_proxy.py
  backend/services/retrieval_target.py
  runbooks/rollback_retrieval.md
  scripts/rollback_retrieval.py
  tests/test_rollback_drill.py
Owners: none

[PH4.1-04] LLM Guard: add enforcement flag + block/warn metrics; PII masking metrics; tests for warn path and masking; keep default enforcement
  backend/api/routes_chat.py
  backend/app/metrics.py
  backend/app/middleware_llm_guard.py
  tests/test_llm_guard_enforce.py
Owners: none

style(ruff): wrap enforcement flag parsing to satisfy E501 in chat route
  backend/api/routes_chat.py
Owners: none

style(ruff): further wrap FF_GUARD_ENFORCE parsing to satisfy E501
  backend/api/routes_chat.py
Owners: none

style(ruff): format middleware_llm_guard.py
  backend/app/middleware_llm_guard.py
Owners: none

[PH4.1-04] LLM Guard: enforcement + tests d’attaque + métriques (#65)
  backend/api/routes_chat.py
  backend/app/metrics.py
  backend/app/middleware_llm_guard.py
  tests/test_llm_guard_enforce.py
Owners: none

[PH4.1-05] CI/CD: add canary workflow + scripts (burn-rate monitor, deploy/promote-or-abort); placeholder rollout commands; docs via workflow inputs
  .github/workflows/deploy_canary.yml
  scripts/deploy_canary.sh
  scripts/promote_or_abort.sh
  scripts/slo_burn_monitor.py
Owners: @C&C/ci-owners, @C&C/sre-owners

[PH4.1-05] Deploy strategy: canary/blue-green scriptée + abort sur burn-rate (#66)
  .github/workflows/deploy_canary.yml
  scripts/deploy_canary.sh
  scripts/promote_or_abort.sh
  scripts/slo_burn_monitor.py
Owners: @C&C/ci-owners, @C&C/sre-owners

feat: SLO implementation with burn-rate gating
  docs/phase4_1_issues.csv
Owners: none

feat: SLO implementation with burn-rate gating (#67)
  .github/workflows/slo_gate.yml
  Makefile
  dashboards/slo.json
  docs/phase4_1_issues.csv
  scripts/slo_report.py
  scripts/validate_slo.py
  slo.yaml
  tests/test_slo_breach_detection.py
Owners: @C&C/ci-owners, @C&C/sre-owners

[PH4.1-07] Bench multi-tenant (noisy neighbor, warm/cold) + rapport
  artifacts/bench_multitenant.json
  scripts/bench_multitenant.py
  scripts/check_no_typing_aliases.sh
  tests/test_bench_multitenant.py
Owners: none

fix: correct test failures in bench_multitenant
  scripts/bench_multitenant.py
  tests/test_bench_multitenant.py
Owners: none

fix: correct P95 percentile expectation in test_statistics_consistency
  tests/test_bench_multitenant.py
Owners: none

fix: correct P99 percentile expectation in test_statistics_consistency
  tests/test_bench_multitenant.py
Owners: none

[PH4.1-07] Bench multi-tenant (noisy neighbor, warm/cold) + rapport (#68)
  artifacts/bench_multitenant.json
  scripts/bench_multitenant.py
  scripts/check_no_typing_aliases.sh
  tests/test_bench_multitenant.py
Owners: none

[PH4.1-08] API Gateway: enveloppe d'erreur standard + idempotency-keys
  backend/apigw/__init__.py
  backend/apigw/errors.py
  backend/apigw/middleware.py
  tests/apigw/__init__.py
  tests/apigw/test_errors_idempotency.py
Owners: none

fix: apply ruff formatting to apigw files
  backend/apigw/errors.py
  backend/apigw/middleware.py
Owners: none

fix: correct test failures and improve error handling
  backend/apigw/errors.py
  tests/apigw/test_errors_idempotency.py
Owners: none

fix: improve test coverage and fix JSON serialization issues
  tests/apigw/test_errors_idempotency.py
Owners: none

feat: add comprehensive middleware tests to improve coverage
  tests/apigw/test_errors_idempotency.py
Owners: none

[PH4.1-08] API Gateway: enveloppe d'erreur standard + idempotency-keys (#69)
  backend/apigw/__init__.py
  backend/apigw/errors.py
  backend/apigw/middleware.py
  tests/apigw/__init__.py
  tests/apigw/test_errors_idempotency.py
Owners: none

feat: implement PH4.1-09 API Gateway quotas/rate-limit par tenant + 429 Retry-After
  backend/apigw/rate_limit.py
  backend/app/main.py
  backend/app/middleware_rate_limit.py
  requirements.txt
  tests/apigw/test_quota.py
Owners: none

fix: PH4.1-09a - Corriger cardinalité Prometheus
  backend/apigw/rate_limit.py
  backend/app/metrics.py
  tests/apigw/test_quota.py
Owners: none

fix: PH4.1-09a-fix - Conventions Prometheus + tests complets
  backend/apigw/rate_limit.py
  tests/apigw/test_quota.py
Owners: none

feat: PH4.1-09b - Limiteur Redis atomique (multi-pods)
  backend/apigw/rate_limit.py
  backend/apigw/redis_store.py
  backend/app/metrics.py
  backend/core/settings.py
  tests/apigw/test_quota.py
  tests/apigw/test_redis_store.py
Owners: none

feat: PH4.1-09c - Trust model JWT > header + anti-spoof
  backend/apigw/auth_utils.py
  backend/apigw/rate_limit.py
  tests/apigw/test_auth_utils.py
  tests/apigw/test_quota.py
Owners: none

feat: PH4.1-09e - Documentation API (quotas/rate-limit & 429)
  docs/api/errors.md
  docs/api/examples/README.md
  docs/api/examples/api_client_example.py
  docs/api/examples/test_rate_limits.sh
  docs/api/rate_limits.md
Owners: @C&C/docs-owners

feat: Améliorations PH4.1-09 - Headers HMAC, conformité lint/ruff
  backend/apigw/auth_utils.py
  backend/apigw/internal_auth.py
  backend/apigw/rate_limit.py
  backend/apigw/redis_store.py
  backend/core/settings.py
  tests/apigw/test_auth_utils.py
  tests/apigw/test_internal_auth.py
  tests/apigw/test_quota.py
  tests/apigw/test_redis_store.py
Owners: none
